.hello{
flex: 1 1 auto;
}
.full-width{
    width: 100%;
}

.logo button {
    transition: transform .3s;
}
.logo button:hover{
    transform: scale(1.1);
    border-bottom: 4px solid red;
    color: white;
}
.navbar button{
    transition: transform .3s;
    color: white;
    border-left: 4px solid red;
      
}
.navbar button:hover{
    color: black;
    background-color: lightblue;
    transform: scale(1.1);
    border-left: none;
    border-bottom: 4px solid red;
}
.navbar{
    /* position: -webkit-sticky; */
    position:sticky;
    top: 0;
    z-index: 1100;
}
